{% import "html/utils.html" as utils %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<link rel="stylesheet" href="/templates/minify/index.php?b=templates/css&f=reset.css,header.css,main.css&ver=10" type="text/css" media="screen" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<title>{{title}}</title>
	<script type="text/javascript" src="/templates/minify/index.php?b=templates/javascript&f=jquery-1.5.1.min.js,library.js,main.js&ver=5"></script>
</head>
<body>
	{% if sub.header %}
		{% include 'html/common/header.html' %}
		<table width="100%" height="95%" valign="top" class="body">
	{% else %}
		<table width="100%" height="100%" valign="top" class="body">
	{% endif %}	
		{% block header %}
		{% endblock %}
		<tr>
			<td valign="top">
				{% block content %}{% endblock %}
			<td>
		</tr>
		{% if sub.footer %}
			{% include 'html/common/footer.html' %}
		{% endif %}
	</table>
</body>
</html>
