{% extends "html/base.html" %}

{% block content %}
<script language="javascript" type="text/javascript" src="/templates/javascript/spainter.js"></script>

{% if flag.pro %}
	<applet code="c.ShiPainter.class" name="paintbbs" archive="/templates/java/spainter/pro.jar,/templates/java/spainter/pro.zip" class="shi_painter">
{% else %}	
	<applet code="c.ShiPainter.class" name="paintbbs" archive="/templates/java/spainter/all.jar" class="shi_painter">
{% endif %}

	<param name="image_width" value="{{items.width}}" />
	<param name="image_height" value="{{items.height}}" />

	<param name="dir_resource" value="/templates/java/spainter/" />
	
	{% if flag.pro %}
		<param name="tt.zip" value="/templates/java/spainter/tt.zip" />
		<param name="res.zip" value="/templates/java/spainter/res_pro.zip" />
		<param name="tools" value="pro" />
		<param name="quality" value="2" />
	{% else %}
		<param name="tt.zip" value="/templates/java/spainter/tt.zip" />
		<param name="res.zip" value="/templates/java/spainter/res_normal.zip" />
		<param name="tools" value="normal" />
	{% endif %}

	<param name="layer_count" value="3" />

	{% for name, value in items.theme %}
		<param name="{{name}}" value="{{value}}" />
	{% endfor %}

</applet>
{% endblock %}
