<html>
<head>
<title>Shi-Painter</title>
<script language="javascript" type="text/javascript" src="/templates/javascript/spainter.js"></script>
</head>
<body>
<applet code="c.ShiPainter.class" name="paintbbs" archive="/templates/java/spainter/pro.jar,/templates/java/spainter/pro.zip" WIDTH="100%" height="100%">
<param name="image_width" value="300">
<param name="image_height" value="300">

<param name="dir_resource" value="/templates/java/spainter/">
<param name="tt.zip" value="/templates/java/spainter/tt.zip">
<param name="res.zip" value="/templates/java/spainter/res_pro.zip">
<param name="tools" value="pro">
<param name="layer_count" value="3">

<param name="quality" value="2">

{% for name, value in items.theme %}
	<param name="{{name}}" value="{{value}}" />
{% endfor %}

</applet>

</body>
</html>
