<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<link rel="stylesheet" href="/templates/minify/index.php?b=templates/css&f=reset.css,main.css" type="text/css" media="screen" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<title>404</title>
</head>
<body>	
	<table width="100%" id="error">
		<tr>
			<td>
				<img src="/templates/images/error.gif" />
			</td>
		</tr>
		<tr>
			<td>
				<h2><a href="/">Вернуться на главную страницу</a></h2>
			</td>
		</tr>
	</table>
</body>
</html>
