{% extends "html/base.html" %}

{% block header %}
	<tr>
		<td valign="top">
			<div class="start_drawing_container margin20">	
				<div class="loginform margin10">
					Пожалуйста, подождите. 
					<img src="/templates/images/loading.gif" />
				</div>
				<div class="start_drawing">	
					<form enctype="multipart/form-data" method="post" action="/draw/">				
						<div class="margin10">
							Редактор: 
							<select name="mode" class="mode">
								<option value="shi_painter" class="themed sized">Shi Painter</option>
								<option value="shi_painter_pro" class="themed sized">Shi Painter Pro</option>
								<option value="pixlr_express" class="sized hidden">Pixlr Express</option>
								<option value="pixlr_editor" class="sized hidden">Pixlr Editor</option>
							</select>
						</div>
						<div class="margin10 theme_field">
							Тема оформления: 					
							<select name="theme">
								<option value="0">Стандартная</option>
								{% for id, name in items.themes %}
									<option value="{{id}}">{{name}}</option>
								{% endfor %}
							</select>					
						</div>
						<div class="margin10 size_field">	
							Ширина картинки: <input type="text" name="width" value="400" size="5"> 
						</div>
						<div class="margin10 size_field">
							Высота картинки: <input type="text" name="height" value="400" size="5"> 
						</div>
						<input type="submit" value="Начать рисовать" />
					</form>
				</div>
			</div>
		</td>
	</tr>	
{% endblock %}

{% block content %}
	<div class="index_block">
		<div class="margin10">
			<h2><a href="/comments/">Последние комментарии</a>:</h2>
		</div>
		{% for id, item in items.comments %}	
			{% include 'html/item/comment_block.html' with {'compact': 1} %}
		{% endfor %}
	</div>
	<div class="index_block">
		<div class="margin10">
			<h2><a href="/authors/">Последние пополнения</a>:</h2>
		</div>
		{% for id, gallery in items.new %}	
			<div class="clear">
				<hr />
				<div class="clear margin10">
					<a href="/gallery/author/{{gallery.link}}/">
						{% if id == 0 %}
							Общая галерея для гостей
						{% else %}
							Галерея художника {{gallery.username}}
						{% endif %}
					</a>
				</div>
				{% for image in gallery.images %}
					<div class="thumbnail small_thumbnail">
						<a href="/gallery/{{image.id}}/">
							<img src="/images/gallery/{{id}}/thumbnail/{{image.name}}.jpg" />
						</a>
					</div>
				{% endfor %}
				&nbsp;
			</div>
		{% endfor %}
	</div>
{% endblock %}
