/* Начальные настройки */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	min-width: 900px;
}

document, html, body {
	height: 100%;
}

table {
	border-collapse: separate;
	border-spacing: 1px;
}

img {
	border: 1px;
}

input {
	border: 1px;
	padding: 3px;
}

table.body {
	background: url(/templates/images/topbg.gif) repeat-x;
	padding: 15px 10px 0;
}

table.body a {
	color: #42A3B9;
	cursor: pointer;
	text-decoration: underline;
}

a.plaintext {
	color: #000000 !important;
	text-decoration: none;
}

ul.plain_list {
	margin: 0;
	padding: 0;
	list-style-type: !important;
}

.cancel-holder {
	width: 90px;
}

img.cancel {
	position: relative;
	bottom: 9px;
	left: 9px;
	cursor: pointer;
}

.left  {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.relative {
	position: relative;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.margin10 {
	 margin-bottom: 10px;
}

.margin20 {
	 margin-bottom: 20px;
}

.margin30 {
	 margin-bottom: 30px;
}

.input60 {
	width: 60%;
}

.input70 {
	width: 70%;
}

.input80 {
	width: 80%;
}

.second_button {
	margin-left: 5px;
}

.first_button {
	margin-right: 35px;
}

input, textarea {
    -moz-border-radius: 0.5em !important;
	-webkit-border-radius: 0.5em !important;
	border-radius: 0.5em !important;
    background-color: #efefef ;
    border: 1px solid #CCCCCC !important;
    border-bottom: 1px solid #eee !important;
    border-right: 1px solid #eee !important;
    padding: 3px 3px 3px 3px !important;
}

button, input {
    background-color: #FFFFFF !important;
    text-decoration: none !important;
    font-weight: bold !important;
    color: #565656 !important;
    cursor: pointer !important;
    padding: 3px 3px 3px 3px !important;
}

textarea {
    background-color: #FFFFFF !important;
    cursor: pointer !important;
    padding: 3px 3px 3px 3px !important;
}

input: hover, input: focus, button: hover, button: focus, textarea: hover, textarea: focus {
    background-color: #efefef !important ;
    border: 1px solid #CCCCCC !important;
    color: #565656 !important;

}

#easyTooltip {
	padding: 5px 10px;
	max-width: 45%;
	border: 1px solid #195fa4;
	background: #195fa4 url('/i/bg.gif') repeat-x;
	color: #fff;
}

#superbox-innerbox {
	height: auto !important;
}

wbr {
	display: inline-block;
}

div.mini-shell div.text {
	margin: 15px;
}

.clickable {
	cursor: pointer !important;
}

/* Общее */

#content {
	padding-left: 15px;
	padding-right: 15px;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	line-height: 12pt;
	min-height: 500px;
}

#sidebar {
	padding-left: 10px;
	line-height: 15pt;
	width: 240px;
}

.art_body #sidebar {
	width: 220px;
}

#footer {
	height: 60px;
	padding-left: 30px;
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px solid #E7E7E7;
	background: url(/templates/images/hline.gif) repeat-x;
}

#footer .right div {
	text-align: center;
	width: 150px;
}

/* Главная страница */

.start_drawing_container {
	width: 100%;
	text-align: center;
}

.start_drawing {
	text-align: left;
	width: 300px;
	margin-left: auto ;
	margin-right: auto ;
}

.loginform {
	width: 700px;
	margin-left: auto ;
	margin-right: auto ;
}

.shi_painter {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

h2{
	font-size: 14pt;
	font-weight: normal;
	margin-top: 5px;
}

.wrapper {
	clear: both;
	padding-top: 5px;
	line-height: 14pt;
}

.meta {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 90%;
	border-top: 1px dashed #ccc;
}

.shell {
	border: 1px solid #E7E7E7;
	padding: 5px;
	margin-bottom: 25px;
}

.index_block {
	margin-left: 2%;
	margin-right: 2%;
	width: 44%;
	float: right;
}

/* Галереи с артом */

.art_body {
	display: table-cell;
}

.thumbnail {
  display: inline-block;
  float: left;
  text-align: center;
  position: relative;
}

.large_thumbnail {
	width: 220px;
	height: 220px;
}

.small_thumbnail {
	width: 120px;
	height: 120px;
}

.large_extractor_thumbnail {
	width: 260px;
	height: 300px;
}

.small_extractor_thumbnail {
	width: 180px;
	height: 220px;
}

.booru_main {
  text-align: center;
}

.art-bar {
	text-align: left;
	padding-left: 5px;
}

.art_translation {
	position: absolute;
	opacity: 0.5;
	background: none repeat scroll 0 0 #EEEEFF;
	border: 1px solid #000000;
	cursor: pointer;
}

.art_translation_active {
	position: absolute;
	opacity: 0.9;
	background: none repeat scroll 0 0 #EEEEFF;
	border: 1px solid #000000;
	cursor: move;
	text-align: right;
}

.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.edit_switch {
	position: absolute;
	cursor: pointer;
}

.edit_translation {
	position: absolute;
}

.image {
    display: table;
    display: inline-block;
    position: relative;
}

.art_not_showed {
	font-size: 90%;
	text-align: left;
	height: 100%;
}

.cg_name {
	font-weight: bold;
}

.pack_description {
	margin-left: 20px;
}

.similar_sign {
	position: absolute;
	top: 2px;
	right: 5px;
}

.loading_variation {
	margin-left: 30px;
	padding: 0px;
    display: inline;
	overflow: hidden;
	height: 0px;
}

/* Навигация по страницам внизу */

#navi_bottom ul, #navi_bottom li, #navi_bottom a, #navi_bottom span {
	background: white;
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-transform: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: left;
	line-height: 12px;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-size: 11px;
	font-family: Arial;
}

#navi_bottom {
	margin-top: 10px;
	width: 100%;
	background: white;
	clear:both;
	display:block;
}

#navi_bottom ul {
	width: 100%;
}

#navi_bottom li {
	float: left;
	display: block;
}

#navi_bottom a, #navi_bottom span {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	color: #333;
	border: 1px solid #bfbfbf;
}

#navi_bottom li a:hover, #navi_bottom li span:hover {
	border-color: #ff8000;
}

#navi_bottom li.space {
	padding: 6px;
	padding-left: 2px;
	padding-right: 2px;
}

#navi_bottom li.first_last_page {
	font-style: italic;
}

#navi_bottom li.active_page a {
	border-color: #46daff;
}

#navi_bottom li.active_page a:hover  {
	color: black; /* IE fix */
	text-decoration: underline;
	border-color: #ff8000;
}

#navi_bottom li.page_info {
	float: left;
	display: block;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 2px;
	color: #666;
	font-size: 11px;
	border: 1px solid #bfbfbf;
}

#navi_bottom div {
	float: none;
	clear: both;
}

/* Вывод комментариев */

#comments {
	margin-left: 15px;
	margin-top: 20px;
}

.config_option {
	margin: 10px;
}

.commentsh2 {
  font-size: 14pt;
  font-weight: normal;
  color: #42A3B9;
  margin-top: 0px !important;
  margin-bottom: 20px;
}

a.comments {
  margin-top: 5px;
  margin-bottom: 20px;
}

.datetime {
	color: Gray;
	font-size: 9px;
	padding-left: 5px;
	padding-right: 5px;
}

.commentmetadata {
	font-size: 10px;
}

.comment {
	margin-top: 30px;
	margin-bottom: 30px;
}

.comment-top {
	height: 23px;
	background: #FFFAF0;
	padding-left: 10px;
}

.comment-content {
	padding-left: 10px;
	min-height: 50px;
	padding-top: 3px;
}

.c-wrap {
	clear: both;
	padding-top: 20px;
	border-bottom: 1px solid #DCDCDC;
}

.avatar-n {
	float: left;
	width: 50px;
	height: 50px;
	padding: 5px;
	border: 1px solid Black;
	margin-right: 10px;
}

.comment-text {
	margin-left: 75px;
}

div.respond {
	margin-left: 50px;
}

.quotation {
	padding: 8px;
	background-color: #EEEEEE;
	border: 1px solid #777777;
	margin: 5px;
	margin-bottom: 15px;
}

.quotation .username {
	font-weight: bold;
	margin-right: 10px;
}

.bbholder {
	border: 2px solid #666;
	margin-top: 3px;
}

img.bb {
	background-color: #EEEEFF;
	border: 1px solid #666;
	margin: 0px !important;
}

.bbholder td {
	padding: 0px !important;
}

/* 404-ая страница */

#error {
	text-align: center;
	font-weight: bold;
	color: red;
}
#error a {
	text-decoration: underline;
	cursor: pointer;
}

/* Лента комментариев */

.image-0 {
	margin-top: 0px !important; 
}

.imageholder {
	width: 210px;
	text-align: center;
	vertical-align: top;
}

.imageholder-small {
	width: 120px;
	text-align: center;
	vertical-align: top;
}

.imageholder div, .imageholder-small div {
	margin: 15px 15px 0 0;
}
