<div class="show_toggler">
	<table width="100%">
		<tr>
			<td class="booru_main"> 				
				{% if item.resized %}
					<div class="gallery_resized_image">
						<img src="/images/gallery/{{item.user_id}}/resized/{{item.name}}.jpg" />
					</div>
					<div class="hidden gallery_full_image">
						<img src="/images/gallery/{{item.user_id}}/full/{{item.name}}.{{item.extension}}" />
					</div>
				{% endif %}
				<div class="{% if item.resized %}hidden relative{% else %}image{% endif %} art_toggle">						
					<img src="/images/gallery/{{item.user_id}}/full/{{item.name}}.{{item.extension}}" />
				</div>
			</td>
		 </tr>
	</table>
</div>
