<div class="shell">
	<div class="left">
		{% if not compact %}<h2>{% endif %}
			<a href="/gallery/{{item.link}}/">
				{{item.title}}
			</a>
		{% if not compact %}</h2>{% endif %}
	</div>
	<div class="right">
		{% if not compact %}<b>{% endif %}
			Всего комментариев: {{item.comments|default('0')}}
		{% if not compact %}</b>{% endif %}
	</div>
	{% if not compact %}
		<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td class="imageholder left">
	{% else %}
		<div>	
			<div class="imageholder-small left">
	{% endif %}
				<div class="image-0">
					<a href="/gallery/{{item.link}}/">
						<img src="{{item.image}}" />
					</a>
				</div>
	{% if compact %}		
		</div>
		<div>
	{% else %}	
		</td>
		<td valign="top" width="100%">
			{% if item.comments > item.limit %}
				<p class="help">
					Показываются только {{item.limit}} последних {{utils.wcase(item.limit, 'комментарий', 'комментария', 'комментариев')}}. 
					<a href="/gallery/{{item.link}}/comments/all">
						Читать все
					</a>.
				</p>
			{% endif %}
	{% endif %}
			{% for comment_id, comment in item.items %}
				{% if loop.length - loop.index < item.limit %}
					{% include 'html/item/comment.html' with {'item': comment, 'id': comment_id, 'index': loop.index, 'compact' : compact} %}
				{% endif %}
			{% endfor %}
	{% if compact %}
				{% if item.comments > item.limit %}
					<p class="help">
						Показываются только {{item.limit}} последних {{utils.wcase(item.limit, 'комментарий', 'комментария', 'комментариев')}}. 
						<a href="/gallery/{{item.link}}/comments/all">
							Читать все
						</a>.
					</p>
				{% endif %}
			</div>
		</div>
	{% else %}
					<div class="respond">
						<h2>
							<a href="/gallery/{{item.link}}/">
								Ответить
							</a>
						</h2>
					</div>
				</td>
			</tr>
		</table>
	{% endif %}
</div>
