<div 
	class="comment{% if not compact %} clear{% endif %}" 
	id="comment-{{id}}"
>
	<div class="comment-top">
		<b>{{utils.one_of(index,item.index)}}) {{item.username}}</b>
		<span class="datetime">
			 {{item.precise_date}}
		</span>		
	</div>
	<div class="comment-content">
		<div class="avatar-n">
			<img 
				src="http://www.gravatar.com/avatar/{{item.gravatar}}?s=50&d=identicon&r=G" 
				height="50" width="50" 
			/>
		</div>
		<div class="comment-text">
			{% if item.quotation %}
				<blockquote class="quotation margin10">
					<span class="username">{{item.quotation.username}}:</span>
					{% if compact %}{{item.quotation.short_text}}{% else %}{{item.quotation.text}}{% endif %}
				</blockquote>
			{% endif %}			
			<div class="margin10">{% if compact %}{{item.short_text}}{% else %}{{item.text}}{% endif %}</div>
			{% if not compact %}
				<a href="#" class="disabled reply" rel="{{id}}">Ответить</a>
				<div id="reply-{{id}}"></div>
			{% endif %}
			{% if not compact %}<div class="c-wrap"></div>{% endif %}
		</div>
	</div>	
	{% if item.items %}
		<div style="margin: 20px 0px 20px {{item.margin|default('0')}}px;">
			{% for comment_id, comment in item.items %}
				{% include 'html/item/comment.html' with {'item': comment, 'id': comment_id, 'index': [utils.one_of(index,item.index), loop.index]|join('.')} %}
			{% endfor %}
		</div>
	{% endif %}
</div>
