<div class="mini-shell config_option">
	Инвертированные комментарии:
	<input 
		type="checkbox"
		name="comments.single_item.inverted"
		value="1"
		{% if user['comments.single_item.inverted'] == 1 %}
			class="default reload checked" checked="checked"
		{% else %}
			class="default reload"
		{% endif %}
	>

	<span class="right">
		Режим просмотра:
		<input 
			type="radio"
			name="comments.single_item.display"
			value="ladder"
			{% if user['comments.single_item.display'] == 'ladder' %}
				class="default reload checked" checked="checked"
			{% else %}
				class="default reload"
			{% endif %}
		> лесенка,
		<input 
			type="radio"
			name="comments.single_item.display"
			value="quotation"
			{% if user['comments.single_item.display'] == 'quotation' %}
				class="checked reload" checked="checked"
			{% else %}
				class="reload"
			{% endif %}
		> цитаты,
		<input 
			type="radio"
			name="comments.single_item.display"
			value="simple"
			{% if user['comments.single_item.display'] == 'simple' %}
				class="checked reload" checked="checked"
			{% else %}
				class="reload"
			{% endif %}
		> простой.
	</span>
</div>

<div id="comments">
	{% for id, item in sub.comments.items %}
		{% if item.item_type == 'comment' %}
			{% include 'html/item/comment.html' %}
		{% elseif item.item_type == 'navi' and loop.last and not loop.first %}
			{% include 'html/item/navi.html' with {'comments': 1} %}
		{% endif %}
	{% endfor %}

	<div id="comments-form">
		Форма для ответа загружается.
		<img src="/templates/images/loading.gif" />
		<noscript>
			Для возможности комментировать, включите пожалуйста javascript;
		</noscript>
	</div>
</div>
