<div class="description">
	<div class="margin20">		
		Информация об изображении:
	</div>
	<div class="margin10">		
		Нарисовал: 
		<a href="/gallery/author/{{sub.description.alias}}/">
			{% if sub.description.username == 'anonymous' %}
				гость
			{% else %}						
				<nobr>
					{{sub.description.username}}
				</nobr>
			{% endif %}
		</a>.
	</div>
	<div class="margin10">		
		Ширина: 
		{{sub.description.data.width}} пикселей.
	</div>
	<div class="margin10">		
		Высота: 
		{{sub.description.data.height}} пикселей.
	</div>
	<div class="margin10">		
		Вес: 
		{{sub.description.data.weight}}.
	</div>
	<div class="margin10">
		Нарисовано: 
		{{sub.description.data.date}}.
	</div>

	{% if sub.description.text %}
		<div class="margin10">
			Описание арта: <br /><br />
			{{sub.description.text}}
		</div>
		{% if sub.description.can_edit %}
			{% include 'html/common/edit_description.html' with {
				'label' : 'Редактировать описание', 
				'text' : sub.description.pretty_text
			} %}
		{% endif %}
	{% else %}
		<div class="margin10">
			У изображения нет описания.
		</div>
		{% if sub.description.can_edit %}
			{% include 'html/common/edit_description.html' with {
				'label' : 'Добавить описание', 
				'text' : ''
			} %}
		{% endif %}		
	{% endif %}
</div>
