<div class="description">
	<div class="margin20">
		{% if sub.description.id == 'anonymous' %}
			<strong>
				Общая галерея
			</strong>
		{% else %}		
			Галерея художника: 
			<strong>
				<nobr>
					{{sub.description.username}}
				</nobr>
			</strong>
		{% endif %}		
	</div>
	{% if sub.description.text %}
		<div class="margin10">
			{{sub.description.username}} о себе: <br /><br />
			{{sub.description.text}}
		</div>
		{% if sub.description.can_edit %}
			{% include 'html/common/edit_description.html' with {
				'label' : 'Редактировать информацию', 
				'text' : sub.description.pretty_text
			} %}
		{% endif %}
	{% else %}
		<div class="margin10">
			{{sub.description.username}} пока ничего про себя не написал
		</div>
		{% if sub.description.can_edit %}
			{% include 'html/common/edit_description.html' with {
				'label' : 'Рассказать о себе', 
				'text' : ''
			} %}
		{% endif %}	
	{% endif %}
</div>
